.nav {
    background-color: #05B667;
}
.item {
    padding: 10px;
    outline: 1px solid;
}

.item a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    /*outline: 1px solid red;*/
}

.item a.active{
    color:blue;
}
.item a:link {
    color: blue;
}

/*.item a:visited {*/
/*    color: black;*/
/*}*/

.item a:hover {
    color: red;
}

.item a:active {
    color: goldenrod;
}